body {
    margin: 0;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
}

section {
    padding: 0%;
    margin: 0%;
    /* border-style: solid; */
    /* border-color: red; */
}

.main-view {
    /* border-style: dotted;
    border-color:royalblue; */

    justify-self: center;
    align-self: center;

    height: 97%;
    width: 97%;

    display: grid;
    grid-template-rows: 4fr 1fr;
}

.top-10 {
    /* border-style:solid;
    border-color: green; */
}

section.top-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

div.top-10 {
    position: relative;
    background-size: cover;
}

div.title, div.genre, div.description {
    display: inline-block;

    margin: 2% 2% 2% 2%;
    padding: 3%;
    background-color: rgba(255, 255, 255, 0.575);
    border-radius: 15px;
    
}

div.title {
    font-size:large;
}

div.description {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 0%;
    transition: visibility 0s, opacity 0.5s linear;
}

.top-10:hover div.description {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

section.slider-movies {

}