body {
    margin: 0;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
}

section {
    padding: 0%;
    margin: 0%;
    border-style: solid;
    border-color: red;
}

.main-view {
    border-style: dotted;
    border-color:royalblue;

    justify-self: center;
    align-self: center;

    height: 97%;
    width: 97%;

    display: grid;
    grid-template-rows: 4fr 1fr;
}

section.top-movies {

/* 
    justify-self: center;
    align-self: center;
    height: 95%;
    width: 95%; */

}

section.slider-movies {
    /* position: absolute;
    bottom: 2%;
    left: 50%;

    height: 30%;
    width: 100%; */

    /* width: 200px;
    display: none;
    top: 100px;
    margin: 0 auto;
    position:absolute; */
}