/* external css: flickity.css */

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  body { font-family: sans-serif; }
  
  .gallery {
    background: #000;
  }
  
  .gallery-cell {
    width: 10%;
    height: 150px;
    margin-right: 10px;
    background: #8C8;
    counter-increment: gallery-cell;
  }

/* ############################################# */

body {
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 100vw;
    
    margin: 0;
    
    background-color: black;
}

section {
    padding: 0%;
    margin: 0%;
}

section.top-movies {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

div.top-10 {
    position: relative;
    
    background-size: cover;
}

div.title, div.genre, div.description, div.gallery-div {
    display: inline-block;
    
    margin: 2% 2% 2% 2%;
    padding: 3%;
    
    background-color: rgba(255, 255, 255, 0.513);
    border-radius: 15px;
}

div.title {
    font-size:large;
}

div.gallery-div {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    
    font-size: medium;
}

div.description {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
    
    position: absolute;
    bottom: 0%;
    
    font-size: larger;
}

.main-view {
    display: grid;
    grid-template-rows: 4fr 1fr;

    justify-self: center;
    align-self: center;

    height: 97%;
    width: 97%;
}

.slider-movies {
    overflow: hidden;
}

.gallery-cell {
    position: relative;
    
    background-size: cover;
    
    font-size: smaller;
}

.gallery-cell:hover div.gallery-div {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}

.top-10:hover div.description {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
}